.Alert {
  padding: 0.7rem;
  margin: 1rem 0;
  background: var(--light-color);
  color: var(--dark-color);
  border-radius: 7px;
}

.Alert_danger {
  background: var(--danger-color);
  color: var(--light-color);
}
